@model Model.EF.KHACH_HANG

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Account</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-body p-0">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg-5 d-none d-lg-block">
                            <div class="p-4">
                                <div class="user">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <h6>Your Name</h6>
                                        @Html.EditorFor(model => model.TenKH, new
                                        {
                                            htmlAttributes = new
                                   {
                                       @class = "form-control form-control-user",
                                       @type = "text",
                                       @id = "exampleName",
                                       @placeholder = "Name"
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <h6>Address</h6>
                                        @Html.EditorFor(model => model.DiaChi, new
                                        {
                                            htmlAttributes = new
                                            {
                                       @type = "text",
                                       @class = "form-control form-control-user",
                                       @id = "exampleaddress"
                                            ,
                                       @placeholder = "Address"
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <h6>Your PhoneNumber</h6>
                                        @Html.EditorFor(model => model.SDT, new
                                        {
                                            htmlAttributes = new
                                            {
                                       @type = "text",
                                       @class = "form-control form-control-user",
                                       @id = "examplePhone"
                                                ,
                                       @placeholder = "Phone number..."
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <h6>Your birthday</h6>
                                        @Html.EditorFor(model => model.NgaySinh, new
                                        {
                                            htmlAttributes = new
                                            {
                                       @type = "text",
                                       @class = "form-control form-control-user",
                                       @id = "exampleBirth"
                                                ,
                                       @placeholder = "Year..."
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <h6>Identity card</h6>
                                        @Html.EditorFor(model => model.CCCD, new
                                        {
                                            htmlAttributes = new
                                   {
                                       @type = "text",
                                       @class = "form-control form-control-user",
                                       @id = "exampleIdentity"
                                            ,
                                       @placeholder = "Your identity card ...."
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="form-group">
                                            @Html.EditorFor(model => model.URL_img, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.URL_img, "", new { @class = "text-danger" })
                                        </div>*@
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-7">
                            <div class="p-4">

                                <div class="user">
                                    <div class="form-group">
                                        <h6>Your UserName?</h6>
                                        @Html.EditorFor(model => model.UserName, new
                                        {
                                            htmlAttributes = new
                                            {
                                       @type = "email",
                                       @class = "form-control form-control-user",
                                       @id = "exampleInputEmail"
                                        ,
                                       @placeholder = "Email Address"
                                   }
                                        })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>

                                    <h6>Your Password?</h6>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.EditorFor(model => model.Pass, new
                                            {
                                                htmlAttributes = new
                                                {
                                           @type = "password",
                                           @class = "form-control form-control-user"
                                        ,
                                           @id = "exampleInputPassword",
                                           @placeholder = "Password"
                                       }
                                            })
                                            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block" />
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="">

                                        @Html.ActionLink("Already have an account? Login!", "Index", "LoginClient")
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

</body>
</html>
