@model MusicApp.Areas.Admin.Model.RegisterInfo


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Register</title>

        <!-- Custom fonts for this template-->
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg-5 d-none d-lg-block">
                            <div class="p-4">
                                <form class="user">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <h6>Your Name</h6>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new
                                   {
                                       @class = "form-control form-control-user",
                                       @type = "text",
                                       @id = "exampleName",
                                       @placeholder = "Name"
                                   } })
                                        
                                        @*<input type="text" class="form-control form-control-user" id="exampleName"
                                               placeholder="Name">*@
                                    </div>
                                    <div class="form-group">
                                        <h6>Your Address</h6>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @type = "text" ,@class="form-control form-control-user" ,@id="exampleaddress"
                                               ,@placeholder="Address" } })
                                        @*<input type="text" class="form-control form-control-user" id="exampleaddress"
                                               placeholder="Address">*@
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <h6>Your PhoneNumber</h6>
                                            @Html.EditorFor(model => model.PhoneNumber, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @type = "text",
                                                    @class = "form-control form-control-user",
                                                    @id = "examplePhone"
                                                   ,
                                                    @placeholder = "Phone number..."
                                                }
                                            })
                                            @*<input type="text" class="form-control form-control-user" id="examplePhone"
                                                   placeholder="...">*@
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>Your birthday</h6>
                                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @type = "text" ,@class="form-control form-control-user" ,@id="exampleBirth"
                                                   ,@placeholder="Year..." } })
                                            @*<input type="text" class="form-control form-control-user" id="exampleBirth"
                                                   placeholder="Year...">*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h6>Identity card</h6>
                                        @Html.EditorFor(model => model.Identitycard, new { htmlAttributes = new { @type = "text" ,@class="form-control form-control-user" ,@id="exampleIdentity"
                                               ,@placeholder="Your identity card ...." } })
                                        @*<input type="text" class="form-control form-control-user" id="exampleIdentity"
                                               placeholder="Your identity card ....">*@
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="p-4">

                                <form class="user">
                                    <div class="form-group">
                                        <h6>Your UserName?</h6>
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @type = "email" ,@class="form-control form-control-user" ,@id="exampleInputEmail"
                                               ,@placeholder="Email Address" } })
                                        @*<input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                               placeholder="Email Address">*@
                                    </div>
                                    <h6>Your Password?</h6>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password" ,@class="form-control form-control-user"
                                                   ,@id="exampleInputPassword" ,@placeholder="Password" } })
                                            @*<input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password" ,@class="form-control form-control-user"
                                                   ,@id="exampleRepeatPassword" ,@placeholder="Repeat Password" } })
                                            @*<input type="password" class="form-control form-control-user"
                                                   id="exampleRepeatPassword" placeholder="Repeat Password">*@
                                        </div>
                                    </div>
                                    <a href="" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </a>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="login.html">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin-2.min.js"></script>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

}


    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Identitycard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Identitycard, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Identitycard, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>*@
